<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/public/favicon-la-hora.ico" type="image/x-icon">
  <title>Evenement La Hora</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/public/assets/css/style.css" />
</head>
<body>
  <%- include('../partials/header') %>
  <p>Fin de la page</p>
  <%- include('../partials/footer') %>
</body>
</html>
